{#
<!-- <script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '674683617307961',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v13.0'
    });

    FB.api('/basefi/feed', 'GET', { limit: 10 }, function (response) {
      if (response && !response.error) {
        console.log(response)
      } else {
        console.error(response.error)
      }
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> -->

<!-- <script type="module">
  import { h, Component, render } from 'https://unpkg.com/preact?module';
  import { FacebookProvider } from '{{site.url}}/assets/scripts/facebook-provider.js?v{{ pkg.version }}';

  // Create your app
  const app = h('h1', null, 'Hello World!');

  render(app, document.getElementById('facebook-feed'));
</script> -->

<!-- <div class="fb-page" data-href="https://www.facebook.com/basefi/" data-tabs="timeline" data-width="1000"
  data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
  data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/basefi/" class="fb-xfbml-parse-ignore"><a
      href="https://www.facebook.com/basefi/">Base Henkilöstöpalvelut OY</a></blockquote>
</div> -->
#}