<section class="py-10 py-xl-15">
  <div class="container">
    <div class="carousel carousel-align text-center">
      <div class="carousel-logos-footer d-flex align-items-center">
        <div>
          <img src="{{site.url}}/assets/svgs/kestobetoni.svg" alt="Logo" class="logo">
        </div>
        <div>
          <img src="{{site.url}}/assets/svgs/betset.svg" alt="Logo" class="logo">
        </div>
        <div>
          <img src="{{site.url}}/assets/svgs/kovabetoni.svg" alt="Logo" class="logo" style="width: 70% !important;">
        </div>
        <div>
          <img src="{{site.url}}/assets/svgs/bisnode.svg" alt="Logo" class="logo">
        </div>
        <div>
          <img src="{{site.url}}/assets/svgs/luotettava.svg" alt="Logo" class="logo">
        </div>
        <div>
          <img src="{{site.url}}/assets/svgs/hpl.svg" alt="Logo" class="logo">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dark -->
<footer class="py-5 bg-dark text-light">
  <div class="container">
    <div class="row justify-content-between g-5 mb-5 mb-lg-10">
      <div class="col-lg-4">
        <a href="/" class="navbar-brand brand-footer"><img src="{{site.url}}/assets/svgs/BASE.White.svg" alt="Logo"></a>
        <p class="mt-5 fw-light pe-lg-5 text-muted">
          Anastasia Rantala<br />
          Toimitusjohtaja<br />
          +358 40 188 3988<br />
          anastasia@base.fi<br />
        </p>
      </div>
      <div class="col-lg-7">
        <div class="row g-3 g-xl-5">
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Menu</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Meistä</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Asiakkaille</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Hakijoille</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Yhteystiedot</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Seuraa meitä</span>
            <ul class="list-unstyled">
              <li class="mb-1"><i class="bi bi-instagram me-1"></i>
                <a href="https://www.instagram.com/basehenkilostopalvelut/"
                  class="text-reset text-primary-hover">Instagram</a>
              </li>
              <li class="mb-1"><i class="bi bi-facebook me-1"></i>
                <a href="https://www.facebook.com/{% if locale === 'ru-RU' %}Baseruss{% else %}basefi{% endif %}"
                  class="text-reset text-primary-hover">Facebook</a>
              </li>
              <li class="mb-1"><i class="bi bi-linkedin me-1"></i>
                <a href="https://www.linkedin.com/company/base-henkil%C3%B6st%C3%B6palvelut-oy/"
                  class="text-reset text-primary-hover">Linkedin</a>
              </li>
              <li>
                <img src="{{site.url}}/assets/svgs/favicon.baseit.svg" alt="BASEiT.fi" class="bi svg-baseit me-1" />
                <a href="https://baseit.fi/" class="text-reset text-primary-hover">BASEiT</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Some</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Tietosuojaseloste</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Lataa esitteemme</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Liity Kumppaniksi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between g-2 g-lg-5 text-muted">
      <div class="col-md-6">
        <span class="small">Copyrights © 2021</span>
      </div>
      <div class="col-md-6 text-md-end">
        <span class="small">Ahti Business Park Ahventie 4, 02170 Espoo</span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"
    integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{site.url}}/assets/scripts/vendor.aos.js"></script>
  <script src="{{site.url}}/assets/scripts/vendor.headroom.min.js"></script>
  <script src="{{site.url}}/assets/scripts/vendor.tiny-slider.js"></script>
  <script src="{{site.url}}/assets/scripts/vendor.plyr.polyfilled.min.js"></script>

  <script src="{{site.url}}/assets/scripts/vendor.flexsearch.bundle.js"></script>
  <script src="{{site.url}}/assets/scripts/xml2json.js"></script>
  <script src="{{site.url}}/assets/scripts/likeit.fi.js?v{{ pkg.version }}"></script>
  <script src="{{site.url}}/assets/scripts/custom.js?v{{ pkg.version }}"></script>
</footer>