<footer class="py-5">
  <div class="container">
    <div class="row justify-content-between g-5 mb-5 mb-lg-10">
      <div class="col-lg-4">
        <a href="index.html" class="navbar-brand"><img src="/assets/svgs/BASE.Black.svg" alt="Logo"></a>
        <p class="mt-5 text-muted fw-light pe-lg-5">
          Anastasia Rantala<br />
          Toimitusjohtaja<br />
          +358 40 188 3988<br />
          anastasia@base.fi<br />
        </p>
      </div>
      <div class="col-lg-7">
        <div class="row g-3 g-xl-5">
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Menu</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">documentation</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">components</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">blocks</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">changelog</a></li>
              <li><a href="" class="text-reset text-primary-hover">roadmap</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Follow us</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Instagram</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Facebook</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Twitter</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Linkedin</a></li>
              <li><a href="" class="text-reset text-primary-hover">Youtube</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Docs</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Get Started</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Components</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Changelog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between g-2 g-lg-5">
      <div class="col-md-6">
        <span class="small text-muted">Copyrights © 2021</span>
      </div>
      <div class="col-md-6 text-md-end">
        <span class="small text-muted">Ahti Business Park Ahventie 4, 02170 Espoo</span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"
    integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/assets/scripts/vendor.aos.js"></script>
  <script src="/assets/scripts/vendor.headroom.min.js"></script>
  <script src="/assets/scripts/vendor.tiny-slider.js"></script>
  <script type="text/javascript" src="/assets/scripts/custom.js?v{{ pkg.version }}"></script>
</footer>