<section class="py-15 py-xl-20">
  <div class="container">
    {% include "facebook.njk" %}
    <div class="row mb-5 align-items-end">
      <div class="col-lg-6">
        <h2 class="fw-bold">Latest blog posts</h2>
      </div>
      <div class="col-lg-6 text-lg-end">
        <a href="" class="action underline">View all <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="row g-3 g-xl-5">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <figure class="background" style="background-image: url('{{site.url}}/assets/images/blog1.jpg')"></figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">23 December</time>
              <h5 class="card-title">
                BASE toivottaa kaikille hyvää joulua ja onnellista uutta vuotta!
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <figure class="background" style="background-image: url('{{site.url}}/assets/images/blog2.jpg')"></figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">5 November</time>
              <h5 class="card-title">
                Kiitos #duunitori ja #rekrygaala upeasta rekrygaalasta!
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <figure class="background" style="background-image: url('{{site.url}}/assets/images/blog3.jpg')"></figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">5 August</time>
              <h5 class="card-title">
                🙋Etsimme nyt kokeneita betonielementtien valmistajia!
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>