<div class="py-5">
  {% set entries = collections[locale] | eleventyNavigation %}
  {%- for entry in entries %}
  {% if entry.isOneOfBigButton %}
  <a href="{% if entry.url.startsWith('http') == false %}{{site.url}}{% endif %}{{ entry.url | url }}"
    class="me-3 mb-3 fw-bolder btn btn-lg btn-primary rounded-pill">
    {{entry.title}}
  </a>
  {% endif %}
  {% endfor -%}
</div>