<section class="py-15 py-xl-20 bg-light border-bottom">
  <div class="container foreground">
    <div class="row align-items-end mb-5">
      <div class="col-lg-8">
        <h2 class="fw-light"><span class="fw-bold">{{ 'More than' | i18n }} <span id="feed-jobs-blocks-counter"></span>
            {{ 'companies' | i18n }}</span> {{ 'are looking for you, browse positions' | i18n }}.</h2>
      </div>
    </div>
    <div class="row g-1" id="feed-jobs-blocks"></div>
  </div>
</section>