<nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-dark">
  <div class="container">
    <a href="{{site.url}}{{ '/' + locale + '/' | url }}" class="navbar-brand me-3">
      <!-- <img src="{{site.url}}/assets/svgs/BASE.White.svg" alt="BASE.fi" class="d-none" id="logo-white" /> -->
      <!-- <img src="{{site.url}}/assets/svgs/BASE.Yellow.svg" alt="BASE.fi" class="d-none" id="logo-yellow" /> -->
      <img src="{{site.url}}/assets/svgs/BASE.White.svg" alt="BASE.fi" />
    </a>

    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="" role="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-list"></span>
        </a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="apply" class="btn btn-outline-white rounded-pill ms-2">
          {{ 'Join us' | i18n }}
        </a>
      </li>
    </ul>

    <div class="collapse navbar-collapse d-flex justify-content-center text-uppercase" id="navbar"
      data-bs-parent="#mainNav">
      {% include "navigation.njk" %}
    </div>
  </div>
</nav>