{% macro renderNavList(entry) -%}
{% if entry.url !== '/' + locale + '/' %}
<li class="nav-item">
  <a href="{% if entry.url.startsWith('http') == false %}{{site.url}}{% endif %}{{ entry.url | url }}"
    class="nav-link{% if entry.url == page.url %} text-primary{% endif %}">{{entry.title}}</a>
</li>
{% endif %}
{%- endmacro %}

<ul class="navbar-nav">
  {%- for item in collections[locale] | eleventyNavigation -%}{{ renderNavList(item) }}
  {% endfor -%}
  {% include "languages.njk" %}
  <!-- <li class="nav-item d-lg-none">
    <a href="https://base.likeit.fi/jsp/Login.jsp" class="nav-link text-primary" target="_blank">{{ 'Login' | i18n
      }}</a>
  </li> -->
</ul>