<section class="py-15 py-xl-20 border-bottom">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 col-xl-6">
        <h2 class="fw-light">{{ 'Office' | i18n }} <span class="fw-bold">{{ 'locations' | i18n }}</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-primary inverted1 card-hover-reveal">
          <div class="card-header">
            <i class="bi bi-geo-alt-fill mb-4 fs-3"></i>
          </div>
          <div class="card-body">
            <h4 class="mb-2">Ahti Business Park</h4>
            <span class="fs-lg">
              Ahventie 4, 02170 Espoo
            </span>
            <ul class="list-unstyled mt-3">
              <li class="fw-bold">Anastasia Rantala</li>
              <li>Toimitusjohtaja</li>
              <li><a href="tel:+358 40 188 3988">+358 40 188 3988</a></li>
              <li><a href="mailto:anastasia@base.fi">anastasia@base.fi</a></li>
            </ul>
          </div>
          <span class="background background-overlay"
            style="background-image: url('{{site.url}}/assets/images/ahventie_4.jpeg')">
          </span>
        </div>
      </div>
    </div>
  </div>
</section>