<section class="cover overflow-hidden bg-black inverted">
  <div class="d-flex flex-column py-20 min-vh-100 container foreground">
    <div class="row mt-auto">
      <div class="col-md-8">
        <h2 class="fw-bold display-2">Приходите к нам работать!</h2>
      </div>
    </div>
  </div>
  <div class="background background-overlay text-black" data-aos="zoom-out" data-aos-delay="200">
    <video playsinline autoplay muted loop data-video id="player">
      <!-- Video by cottonbro from Pexels -->
      <source src="{{site.url}}/assets/videos/industrial.mp4" type="video/mp4">
    </video>
  </div>
  <span class="scroll-down"></span>
</section>

<section class="py-15 py-xl-20 bg-light">
  <div class="container">
    <div class="row mb-10">
      <div class="col-md-3 mb-3 mb-md-0">
        <h2 class="fw-bold">Соискателям</h2>
      </div>
      <div class="col-md-9">
        <p class="lead">Мы в Base всегда открыты для долгосрочного и плодотворного сотрудничества с ответственными и
          внимательными работниками. Вместе с нами Вы найдете прекрасные возможности для развития карьеры,
          профессиональных амбиций и осуществления личных планов.</p>
        <p class="lead">С нашим агентством сотрудничают большое количество стабильных компаний в области строительства и
          производства, многие из которых являются признанными лидерами в своих направлениях.</p>
        <p class="lead">Если Вы заинтересованы в поиске перспективной и стабильной работы и готовы рассмотреть
          предложения ведущих финских компаний-работодателей, обязательно оставьте в нашем агентстве информацию о себе.
        </p>
        <p class="lead">При наличии подходящей вакансии мы свяжемся с Вами и поможем найти интересную и хорошо
          оплачиваемую работу.</p>
        <p class="lead">На нашем сайте размещено большое количество открытых вакансий, с которыми Вы можете ознакомиться
          и в дальнейшем, сообщить нам о Вашем желании начать процедуру трудоустройства.</p>
        <p class="lead">Гражданство EU или соответствующее разрешение на работу в Финляндии обязательно!</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-7">
        <h2 class="fw-light">Мы ищем, ищем тех, кто:</h2>
      </div>
    </div>
    <div class="row g-3 g-xl-5 mb-10">
      <div class="col-lg-4">
        <div class="d-flex">
          <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
          </div>
          <div>
            <p class="fs-lg">Считает себя трудолюбивым сотрудником, видит поставленные цели и стремится к развитию
              профессиональных качеств</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex">
          <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
          </div>
          <div>
            <p class="fs-lg">Ответственен и серьезно подходит к исполнению своих обязанностей</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex">
          <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
          </div>
          <div>
            <p class="fs-lg">Обладает позитивным настроем и умеет работать в команде
              хочет сотрудничать с надежным и долгосрочным работодателем</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-7">
        <h2 class="fw-light">Мы предлагаем:</h2>
      </div>
    </div>
    <div class="row g-3 g-xl-5 mb-10">
      <div class="col-lg-4">
        <div class="d-flex">
          <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
          </div>
          <div>
            <p class="fs-lg">Стабильную работу</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex">
          <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
          </div>
          <div>
            <p class="fs-lg">Проживание</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex">
          <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
          </div>
          <div>
            <p class="fs-lg">Возможность постоянных трудовых отношений
              конкурентоспособную заработную плату</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "form.contacts.njk" %}