<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}} - {{ title or meta.title }}</title>
  {% include "meta.njk" %}
</head>

<body>
  <!-- skiplinks -->
  <a href="#main" class="visually-hidden-focusable">Skip to main content</a>
  {% include "navbar.njk" %}
  {{ content | safe }}
  {% include "footer.njk" %}
</body>

</html>