<section class="bg-black overflow-hidden" data-aos="fade-in">
  <div class="d-flex flex-column py-5 min-vh-100 container foreground">
    <div class="row justify-content-center my-auto pb-5">
      <div class="col-lg-6 text-center mb-5">
        <h1 class="display-2 fw-bold text-white">Find your dream job with us.</h1>
      </div>
      <div class="col-lg-8">
        <div class="grouped-inputs p-1 rounded-pill bg-white">
          <div class="row g-0">
            <div class="col-md-3">
              <select class="form-select form-select-lg px-4" aria-label="Default select example">
                <option selected>Design</option>
                <option value="1">Development</option>
                <option value="2">Marketing</option>
              </select>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-control-lg px-4" aria-label="Text input with dropdown button"
                placeholder="Desired position">
            </div>
            <div class="col-md-3 d-grid">
              <a href="" class="btn btn-primary btn-lg rounded-pill">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center inverted">
      <div class="col-lg-8 text-center">
        <span class="text-muted">Trusted by domestic biggest brands</span>
        <div class="carousel carousel-align text-center mt-4">
          <div class="carousel-data d-flex align-items-center">
            <div>
              <img src="/assets/svgs/kestobetoni.white.svg" alt="Logo" class="logo">
            </div>
            <div>
              <img src="/assets/svgs/betset.white.svg" alt="Logo" class="logo">
            </div>
            <div>
              <img src="/assets/svgs/kovabetoni.white.svg" alt="Logo" class="logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <figure class="background background-overlay" style="background-image: url('/assets/images/base_etusivu_kuva.jpg')"
    data-top-top="transform: translateY(0%);" data-top-bottom="transform: translateY(10%);"></figure>
</section>


<section class="py-5">
  <div class="container">
    <div class="row mb-5 align-items-end">
      <div class="col-lg-6">
        <h2 class="fw-bold">Latest blog posts</h2>
      </div>
      <div class="col-lg-6 text-lg-end">
        <a href="" class="action underline">View all <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="row g-3 g-xl-5">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <!-- <figure class="background" style="background-image: url('./assets/images/job-board-2.jpg')"> -->
          </figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">18 December</time>
              <h5 class="card-title">Ethical Considerations In UX Research: The Need For Training And Review</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <!-- <figure class="background" style="background-image: url('./assets/images/job-board-3.jpg')"> -->
          </figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">18 December</time>
              <h5 class="card-title">Ethical Considerations In UX Research: The Need For Training And Review</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <!-- <figure class="background" style="background-image: url('./assets/images/job-board-4.jpg')"></figure> -->
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">18 December</time>
              <h5 class="card-title">Ethical Considerations In UX Research: The Need For Training And Review</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>