<section class="bg-black overflow-hidden" data-aos="fade-in">
  <!-- <img class="position-absolute img-fluid vw-100 vh-100" src="{{site.url}}/assets/images/worker.1280.jpg" id="header-cover" /> -->
  <div class="d-flex flex-column py-5 min-vh-100 container foreground">
    <div class="row justify-content-center my-auto pb-5">
      <div class="col-lg-6 text-center mb-5">
        <h1 class="display-2 fw-bold text-white">Löydä unelmatyösi meiltä</h1>
      </div>
      <div class="col-lg-8">
        <div class="grouped-inputs p-1 rounded-pill bg-white">
          <div class="row g-0">
            <div class="col-md-3">
              <select class="form-select form-select-lg px-4" aria-label="Default select example">
                <option selected>Design</option>
                <option value="1">Development</option>
                <option value="2">Marketing</option>
              </select>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-control-lg px-4" aria-label="Text input with dropdown button"
                placeholder="Desired position">
            </div>
            <div class="col-md-3 d-grid">
              <a href="" class="btn btn-primary btn-lg rounded-pill">Etsiä</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center inverted">
      <div class="col-lg-8 text-center">
        <span class="text-muted">Trusted by</span>
        <div class="carousel carousel-align text-center mt-4">
          <div class="carousel-data d-flex align-items-center">
            <div>
              <img src="{{site.url}}/assets/svgs/kestobetoni.white.svg" alt="Logo" class="logo">
            </div>
            <div>
              <img src="{{site.url}}/assets/svgs/betset.white.svg" alt="Logo" class="logo">
            </div>
            <div>
              <img src="{{site.url}}/assets/svgs/kovabetoni.white.svg" alt="Logo" class="logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <figure class="background background-overlay filter-maven"
    style="background-image: url('{{site.url}}/assets/images/worker.1280.jpg')"
    data-top-top="transform: translateY(0%);" data-top-bottom="transform: translateY(10%);"></figure>
</section>


<section class="py-15 py-xl-20 bg-light border-bottom">
  <div class="container foreground">
    <div class="row align-items-end mb-5">
      <div class="col-lg-8">
        <h2 class="fw-light"><span class="fw-bold">Yli 50 yritystä</span> etsii sinua, selaa työpaikkoja.</h2>
      </div>
    </div>
    <div class="row g-1">
      <div class="col-md-6 col-lg-8 col-xl-6" data-aos="fade-up">
        <a href="" class="card h-100 bg-white card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Managment & Finance</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="100">
        <a href="" class="card equal-lg-1-1 bg-white card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Sales & Marketing</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="200">
        <a href="" class="card equal-lg-1-1 bg-white card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Programming</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="300">
        <a href="" class="card equal-lg-1-1 bg-white card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Design</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="400">
        <a href="" class="card equal-lg-1-1 bg-white card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Customer Support</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="500">
        <a href="" class="card equal-lg-1-1 bg-white card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Product</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-8 col-xl-3" data-aos="fade-up" data-aos-delay="600">
        <a href="" class="card equal-xl-1-1 bg-white h-100 card-hover-border">
          <div class="card-wrap">
            <div class="card-header pb-0">
              <span class="text-muted">22 openings</span>
            </div>
            <div class="card-footer mt-auto">
              <h3 class="card-title">Business Development</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="py-15 py-xl-20">
  <div class="container">
    <div class="row mb-5 align-items-end">
      <div class="col-lg-6">
        <h2 class="fw-bold">Latest blog posts</h2>
      </div>
      <div class="col-lg-6 text-lg-end">
        <a href="" class="action underline">View all <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="row g-3 g-xl-5">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <figure class="background" style="background-image: url('{{site.url}}/assets/images/blog1.jpg')"></figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">23 December</time>
              <h5 class="card-title">
                BASE toivottaa kaikille hyvää joulua ja onnellista uutta vuotta!
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <figure class="background" style="background-image: url('{{site.url}}/assets/images/blog2.jpg')"></figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">5 November</time>
              <h5 class="card-title">
                Kiitos #duunitori ja #rekrygaala upeasta rekrygaalasta!
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <a href="" class="card equal equal-3-4 card-hover-gradient inverted">
          <figure class="background" style="background-image: url('{{site.url}}/assets/images/blog3.jpg')"></figure>
          <div class="card-wrap">
            <div class="card-footer mt-auto text-shadow">
              <time datetime="2020-12-18 20:00" class="eyebrow text-secondary mb-1">5 August</time>
              <h5 class="card-title">
                🙋Etsimme nyt kokeneita betonielementtien valmistajia!
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="py-15 py-xl-20 bg-light">
  <div class="container">
    <div class="row align-items-end mb-5">
      <div class="col-lg-8">
        <h2 class="fw-light">Latest <span class="fw-bold">openings</span></h2>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a href="" class="card bg-white card-hover-border">
              <div class="card-body py-4">
                <div class="row align-items-center g-2 g-md-4 text-center text-md-start">
                  <div class="col-md-9">
                    <p class="fs-lg mb-0">Talonrakentajana/ Kirvesmies (Haku päättynyt)</p>
                    <ul class="list-inline list-inline-separated text-muted">
                      <li class="list-inline-item">1 kpl</li>
                      <li class="list-inline-item">Forssa</li>
                    </ul>
                  </div>
                  <div class="col-md-3 text-lg-end">
                    <span>$95k – $150k</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="mt-1">
            <a href="" class="card bg-white card-hover-border">
              <div class="card-body py-4">
                <div class="row align-items-center g-2 g-md-4 text-center text-md-start">
                  <div class="col-md-9">
                    <p class="fs-lg mb-0">Net-sovelluskehittäjää (Haku päättynyt)</p>
                    <ul class="list-inline list-inline-separated text-muted">
                      <li class="list-inline-item">5 kpl</li>
                      <li class="list-inline-item">Uusimaa</li>
                    </ul>
                  </div>
                  <div class="col-md-3 text-lg-end">
                    <span>$95k – $150k</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="mt-1">
            <a href="" class="card bg-white card-hover-border">
              <div class="card-body py-4">
                <div class="row align-items-center g-2 g-md-4 text-center text-md-start">
                  <div class="col-md-9">
                    <p class="fs-lg mb-0">Taloushallinnon osaaja (Haku päättynyt)</p>
                    <ul class="list-inline list-inline-separated text-muted">
                      <li class="list-inline-item">3 kpl</li>
                      <li class="list-inline-item">Espoo</li>
                    </ul>
                  </div>
                  <div class="col-md-3 text-lg-end">
                    <span>$95k – $150k</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="mt-1">
            <a href="" class="card bg-white card-hover-border">
              <div class="card-body py-4">
                <div class="row align-items-center g-2 g-md-4 text-center text-md-start">
                  <div class="col-md-9">
                    <p class="fs-lg mb-0">Kirvesmies (Haku päättynyt)</p>
                    <ul class="list-inline list-inline-separated text-muted">
                      <li class="list-inline-item">2 kpl</li>
                      <li class="list-inline-item">Hanko</li>
                    </ul>
                  </div>
                  <div class="col-md-3 text-lg-end">
                    <span>$95k – $150k</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="mt-1">
            <a href="" class="card bg-white card-hover-border">
              <div class="card-body py-4">
                <div class="row align-items-center g-2 g-md-4 text-center text-md-start">
                  <div class="col-md-9">
                    <p class="fs-lg mb-0">Betonielementtien valmistaja / Forssa (Haku päättynyt)</p>
                    <ul class="list-inline list-inline-separated text-muted">
                      <li class="list-inline-item">3 kply</li>
                      <li class="list-inline-item">Sastamala</li>
                    </ul>
                  </div>
                  <div class="col-md-3 text-lg-end">
                    <span>$95k – $150k</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="bg-primary mx-xl-3 py-15 py-xl-20 inverted overflow-hidden">
  <div class="container level-1">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="fw-light mb-5"><span class="fw-bold">Tilata</span> ja saat uusimmat merkinnät suoraan sähköpostiisi.
        </h2>
        <div class="grouped-inputs p-1 border rounded-pill mb-2">
          <div class="row g-1">
            <div class="col-lg-9">
              <input type="text" class="form-control px-4 rounded-pill" aria-label="Text input with dropdown button"
                placeholder="Sähköpostiosoitteesi">
            </div>
            <div class="col-lg-3 d-grid">
              <a href="" class="btn btn-white rounded-pill">Tilata</a>
            </div>
          </div>
        </div>
        <small class="text-muted">Emme koskaan jaa sähköpostiosoitettasi kenenkään muun kanssa.</small>
      </div>
    </div>
  </div>
  <figure class="background background-overlay background-parallax"
    style="background-image: url('{{site.url}}/assets/images/keyboard.1280.jpg')"
    data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(20%);">
  </figure>
</section>


<section class="py-15 py-xl-20 border-bottom">
  <div class="container">
    <div class="row g-4 g-xl-6">
      <div class="col-lg-6" data-aos="fade-up">
        <a href="" class="card h-100 border card-arrow">
          <div class="card-body">
            <h4 class="card-title fw-light fs-4"><span class="fw-bold">Otetaan yhteyttä.</span> Seuraa meitä
              sosiaalisessa mediassa.</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <a href="" class="card card-arrow bg-primary inverted overflow-hidden">
          <div class="card-body">
            <h4 class="card-title fw-light fs-4">Otamme mielellämme <span class="fw-bold">yhteyttä</span> sinuun ja
              tiimiisi.</h4>
          </div>
          <img class="position-absolute top-50 start-50 translate-middle level-3"
            src="{{site.url}}/assets/svgs/dialog.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>