<section class="cover overflow-hidden bg-black inverted">
  <div class="d-flex flex-column py-20 min-vh-100 container foreground">
    <div class="row mt-auto">
      <div class="col-md-8">
        <h2 class="fw-bold display-2">Henkilöstövuokrauksessa me hoidamme rekrytointiprosessin ammattitaidolla</h2>
        {# <a href="" class="btn btn-white rounded-pill">{{ 'Read more' | i18n }}</a> #}
      </div>
    </div>
  </div>
  <div class="background background-overlay text-black" data-aos="zoom-out" data-aos-delay="200">
    <video playsinline autoplay muted loop data-video id="player">
      <!-- Video by cottonbro from Pexels -->
      <source src="{{site.url}}/assets/videos/recruitment.mp4" type="video/mp4">
    </video>
  </div>
  <span class="scroll-down"></span>
</section>

<section class="py-15 py-xl-20 bg-light">
  <div class="container">
    <div class="row mb-10">
      <div class="col-md-3 mb-3 mb-md-0">
        <h2 class="fw-bold">Toimialat</h2>
      </div>
      <div class="col-md-9">
        <p class="lead">
          Monivuotinen toimialatuntemuksemme kattaa rakennusalan, teollisuuden, logistiikan sekä kiinteistöhuollon.
          Tiedämme, että pystymme tuottamaan organisaatioille laajaa ja merkittävää lisäarvoa näiden toimialojen
          HR-asioiden osalta. On tärkeää huomioida, että verkostomme on myös kansainvälinen.
        </p>
      </div>
    </div>
    <div class="row g-3 g-xl-5 justify-content-between">
      <div class="col-xl-4">
        <ul class="nav nav-tabs flex-xl-column" id="component-1" role="tablist">
          <li class="nav-item">
            <button class="nav-link fs-5 active" id="component-1-1-tab" data-bs-toggle="pill"
              data-bs-target="#component-1-1" type="button" role="tab" aria-controls="component-1-1"
              aria-selected="false">Kiinteistöhuolto</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-5" id="component-1-2-tab" data-bs-toggle="pill" data-bs-target="#component-1-2"
              type="button" role="tab" aria-controls="component-1-2" aria-selected="false">Logistiikka</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-5" id="component-1-3-tab" data-bs-toggle="pill" data-bs-target="#component-1-3"
              type="button" role="tab" aria-controls="component-1-3" aria-selected="false">Rakentaminen</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-5" id="component-1-4-tab" data-bs-toggle="pill" data-bs-target="#component-1-4"
              type="button" role="tab" aria-controls="component-1-4" aria-selected="true">Teollisuus</button>
          </li>
        </ul>
      </div>
      <div class="col-xl-8">
        <div class="tab-content fs-lg" id="component-1-content">
          <div class="tab-pane fade active show" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1-tab">
            <h5>Kiinteistöhuolto</h5>
            <p>Basesta saat luotettavasti ja nopeasti sopivat tekijät kiinteistöhuollon eri tehtäviin.</p>
            <p>Henkilöstövuokrauksessa me hoidamme rekrytointiprosessin ammattitaidolla oikean tekijän etsimisestä
              työsuhteen hoitoon.</p>
            <p>Työntekijä työskentelee työkohteessa joustavasti, sinun yrityksesi tarpeiden ja toimintamallin mukaan.
            </p>
            <p>Kerro lomakkeella työvoiman tarpeestasi, niin otamme yhteyttä sinuun.</p>
          </div>
          <div class="tab-pane fade" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2-tab">
            <h5>Logistiikka</h5>
            <p>Base tarjoaa nopeasti ja luotettavasti sopivat työntekijät logistiikan eri tehtäviin.</p>
            <p>Henkilöstövuokrauksessa me hoidamme rekrytointiprosessin ammattitaidolla oikean tekijän etsimisestä
              työsuhteen hoitoon.</p>
            <p>Työntekijä työskentelee työkohteessa joustavasti, asiakkaan tarpeiden ja toimintamallin mukaan. Kerro
              lomakkeella työvoiman tarpeestasi, niin otamme yhteyttä sinuun.</p>
          </div>
          <div class="tab-pane fade" id="component-1-3" role="tabpanel" aria-labelledby="component-1-3-tab">
            <h5>Rakentaminen</h5>
            <p>Basesta saat luotettavasti ja nopeasti sopivat tekijät rakentamiseen aputyöntekijöistä raudanlujiin
              ammattilaisiin.</p>
            <p>Henkilöstövuokrauksessa me hoidamme rekrytointiprosessin ammattitaidolla oikean tekijän etsimisestä
              työsuhteen hoitoon.</p>
            <p>Työntekijä työskentelee työkohteessa joustavasti, sinun yrityksesi tarpeiden ja toimintamallin mukaan.
            </p>
            <p>Ota yhteyttä alla olevalla lomakkeella liittyen työvoiman tarpeeseesi, niin otamme yhteyttä sinuun.</p>
          </div>
          <div class="tab-pane fade" id="component-1-4" role="tabpanel" aria-labelledby="component-1-4-tab">
            <h5>Teollisuus</h5>
            <p>Base on vahva kumppani teollisuuden toimialojen henkilöstöresursoinnissa.</p>
            <p>Kauttamme löytyy henkilöstöä kaikille teollisuuden toimialoille.</p>
            <p>Suurimpia työllistäjiämme ovat mm. voimalaitokset, rakennustuoteollisuus, konepajateollisuus,
              elintarviketeollisuus, elektroniikkateollisuus ja paperinjalostus.</p>
            <p>Ymmärrämme teollisuuden nopeasti muuttuvat tarpeet ja reagoimme resurssien tarpeiden muutoksiin nopeasti.
            </p>
            <p>Basen rekrytoima henkilö voi työskennellä vuokrasuhteessa tai työskennellä suoraan asiakasyrityksessä.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "form.contacts.njk" %}