<script>
  window.addEventListener("load", () => {
    document.body.classList.add('headroom--open')
    document.body.classList.add('bg-light')
  })
</script>
{% include "jobs.njk" %}
{% include "form.contacts.njk" %}