<article>
  <section class="bg-black inverted overflow-hidden">
    <div class="d-flex flex-column py-15 container min-vh-75 level-3">
      <div class="row justify-content-center mt-auto">
        <div class="col-lg-10 col-xl-8">
          <h1 class="display-1">For Clients</h1>
        </div>
      </div>
    </div>
    <span style="background-image: url('{{site.url}}/assets/images/services.jpg')"
      class="background background-gradient-horizontal" data-top-top="transform: translateY(0%);"
      data-top-bottom="transform: translateY(10%);">
    </span>
  </section>

  <section class="py-15 py-xl-10 border-bottom">
    <div class="container">
      <div class="row mb-10">
        <div class="col-12">
          <ul class="nav nav-tabs nav-fill" id="component-2" role="tablist">
            <li class="nav-item">
              <button class="nav-link w-auto fs-5 active" id="component-2-1-tab" data-bs-toggle="pill"
                data-bs-target="#component-2-1" type="button" role="tab" aria-controls="component-2-1"
                aria-selected="false">Employee leasing</button>
            </li>
            <li class="nav-item">
              <button class="nav-link w-auto fs-5" id="component-2-2-tab" data-bs-toggle="pill"
                data-bs-target="#component-2-2" type="button" role="tab" aria-controls="component-2-2"
                aria-selected="false">Flexible recruitment</button>
            </li>
            <li class="nav-item">
              <button class="nav-link w-auto fs-5" id="component-2-3-tab" data-bs-toggle="pill"
                data-bs-target="#component-2-3" type="button" role="tab" aria-controls="component-2-3"
                aria-selected="false">Direct hiring</button>
            </li>
            <li class="nav-item">
              <button class="nav-link w-auto fs-5" id="component-2-4-tab" data-bs-toggle="pill"
                data-bs-target="#component-2-4" type="button" role="tab" aria-controls="component-2-4"
                aria-selected="true">Outsourcing</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content" id="component-2-content">
      <div class="container tab-pane fade show active" id="component-2-1" role="tabpanel"
        aria-labelledby="component-2-1-tab">
        <div class="row mb-10">
          <p class="fs-lg">Leasing employees can sometimes be beneficial if you run a business with seasonal demands,
            lack the resources to recruit employees on your own, or need temporary assistance with special projects.</p>
          <p class="fs-lg">Employee leasing is an arrangement between a client company and a recruitment agency, which
            supplies workers on a project-specific or temporary basis. These employees work for the client business, but
            the leasing agency pays their salaries and handles all of the administration associated with their
            employment.</p>
          <p class="fs-lg">Our knowledge of industries helps us to choose just the right people for your company. Let us
            handle all aspects of finding new employees and managing payroll. We know the structures, laws, and
            obligations and how to provide competent factors at your service. Our employees are always properly
            equipped. According to the agreement, with each customer’s logo or equipment from Base.</p>
          <div class="col-lg-7">
            <h2 class="fw-light">Ask for more and let’s succeed together!</h2>
          </div>
          <p class="fs-lg">Would employee leasing be right for your business? Leave your contact information and we will
            contact you soon!</p>
        </div>
      </div>

      <div class="container tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2-tab">
        <div class="row mb-10">
          <h2 class="fw-light">Rent and recruit later for yourself</h2>
          <p class="fs-lg">Nowadays most employment relationships start temporarily with the possibility to end up with
            a permanent position. A temporary employment relationship can serve as a kind of extended probationary
            period, and when the time is right, a temporary employee can be recruited to our client’s company on the
            permanent agreement. This is called the flexible recruitment model.</p>
          <p class="fs-lg">In the flexible recruitment model, the recruitment agency acts as the employee’s legal
            employer and is responsible for all employer obligations, such as the organization of occupational health
            care and the payment of salaries, as well as the administrative work of the employment. As a model, this
            recruitment method is quite flexible and brings more agility to recruitment.</p>
          <p class="fs-lg">Flexible recruitment is a good way to get to know the employee’s skills and suitability which
            will be proven in practice, as well as the commitment of both parties to each other.</p>
          <p class="fs-lg">The flexible recruitment model is widely used in both manufacturing and logistics industries.
            A well-found temporary worker is often wanted to be recruited permanently by a client business at a time
            when the situation is favorable for permanent recruitment.</p>
          <div class="col-lg-7">
            <h2 class="fw-light">Do you need employees for the project?</h2>
          </div>
          <p class="fs-lg">A project employee is one whose employment has been fixed for a specific project. This is
            typical in the industrial sector due to production projects required for large orders, as well as in the
            logistics and trade sectors during high season.</p>
          <p class="fs-lg">Especially in the case of international companies, where increasing the headcount is not
            always possible, it can be challenging to find project workers. In this case, hiring a temporary worker can
            be an effective solution.</p>
          <p class="fs-lg">Flexible recruitment is also well suited for such recruitment, which is initially only
            project-specific but can be made permanent when the client company’s work situation changes.</p>
        </div>
      </div>

      <div class="container tab-pane fade" id="component-2-3" role="tabpanel" aria-labelledby="component-2-3-tab">
        <div class="row mb-10">
          <p class="fs-lg">Direct hiring is an easy and fast way to find the right people to work directly for your
            company! Using a direct recruitment service saves you time and money. You can focus on your core business
            while our consultants search for the best resources for your business.</p>
          <div class="col-lg-7">
            <h2 class="fw-light">This is how direct recruitment works at Base:</h2>
          </div>
        </div>
        <div class="row g-3 g-xl-5">
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
              </div>
              <div>
                <p class="fs-lg">We will arrange a meeting where we define the selection criteria for the applicants
                  based on your wishes as well as the schedule.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
              </div>
              <div>
                <p class="fs-lg">After the meeting, we prepare the job’s description and send it for approval.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
              </div>
              <div>
                <p class="fs-lg">We review first potential individuals from our own talent pool. If no suitable
                  candidates found, we start a public search (our website, MOL, Facebook, Duunitori).</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
              </div>
              <div>
                <p class="fs-lg">Applicants suitable for the position will be invited for an interview and their
                  references will be reviewed.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
              </div>
              <div>
                <p class="fs-lg">Once we have found the most suitable candidates for your company, we suggest them for
                  an interview.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="icon-box icon-box-sm bg-primary rounded-circle me-2"><i class="bi bi-check2 text-dark"></i>
              </div>
              <div>
                <p class="fs-lg">The final choice depends on you, but we are happy to help you if the choice is
                  difficult. For example, personal assessment helps you choosing between the few best candidates. A
                  4-month warranty is included in our recruitment.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-lg-7">
            <h2 class="fw-light">Ask for more and let’s succeed together!</h2>
          </div>
          <p class="fs-lg">Would direct hiring be right for your business? Leave your contact information and we will
            contact you soon!</p>
        </div>
      </div>

      <div class="container tab-pane fade" id="component-2-4" role="tabpanel" aria-labelledby="component-2-4-tab">
        <div class="row mb-10">
          <p class="fs-lg">Construction companies that do not have the time or budget to hire an employee for a specific
            workflow should consider outsourcing the job duty.</p>
          <p class="fs-lg">Outsourcing is a business practice in which services or job functions are farmed out to a
            third party. Outsourcing is always based on a high level of trust between the parties. We always work
            together to define metrics for outsourcing.</p>
          <p class="fs-lg">We got experience helping companies improve cash flow, reduce workload, apply best practices,
            and streamline
            processes.</p>
          <p class="fs-lg">For instance, the partial outsourcing of internal logistics where warehouse collection work
            is our
            responsibility and the customer company itself handles reception, dispatch, and pick-up services.</p>
          <p class="fs-lg">Outsourcing can be carried out in the customer’s premises and operating environment,
            depending on the
            situation.</p>
          <p class="fs-lg">Outsourcing your business processes brings your such advantages as cost savings, increased
            efficiency, access
            to skilled resources, and faster and better services.</p>
          <div class="col-lg-7">
            <h2 class="fw-light">Ask for more and suggest you the best solution!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
{% include "form.contacts.njk" %}