<article>
  <section class="bg-black inverted overflow-hidden">
    <div class="d-flex flex-column py-15 container min-vh-75 level-3">
      <div class="row justify-content-center mt-auto">
        <div class="col-lg-10 col-xl-8">
          <h1 class="display-1">{{meta.title}}</h1>
        </div>
      </div>
    </div>
    <span style="background-image: url('{{site.url}}{{eleventyNavigation.image}}')"
      class="background background-gradient-horizontal" data-top-top="transform: translateY(0%);"
      data-top-bottom="transform: translateY(10%);">
    </span>
  </section>
  <section class="py-10 py-xl-15">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{site.url}}/{{locale}}/">Главная</a></li>
              <li class="breadcrumb-item"><a href="{{site.url}}/{{locale}}/{{eleventyNavigation.parent}}">Помощь</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{meta.title}}</li>
            </ol>
          </nav>

          <p class="lead text-secondary">Kela выпустила брошюры о пособиях образца 2021 года также на английском,
            русском и эстонском языках. Партнеры могут заказать эти и ранее опубликованные брошюры на финском и шведском
            языках. С брошюрами можно ознакомиться на сайте kela.fi.</p>
          <p class="lead text-secondary">Ранее в этом году Kela опубликовала ежегодно обновляемые брошюры о пособиях на
            финском, шведском и саамском языках. Эти же брошюры теперь есть и на английском, русском и эстонском языках.
            Брошюры на английском, русском и эстонском языке обновляются каждый второй год. Брошюра «Учеба и военная
            обязанность» будет обновлена и опубликована позднее.</p>
          <p class="lead text-secondary">Брошюры сгруппированы по видам пособий Kela, всего их восемь:</p>
          <div class="lead list-group mb-4">
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Elakkeet-ja-muut-elakkeensaajan-tuet-esite-Kela-ru.pdf/22ce9975-28eb-4349-b76e-1bff6f8bd6d4"
              target="_blank">Пенсии и другие пособия для пенсионеров</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Lapsiperheet-esite-Kela-ru.pdf/be10880e-387b-4be9-bf51-6292b17b0eaf"
              target="_blank">Семьи с детьми</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Muutto-Suomeen-ja-Suomesta-ulkomaille-esite-Kela-ru.pdf/b04e8bf2-be4c-40b5-81eb-44e676794467"
              target="_blank">Переезд в Финляндию или из Финляндии</a>
            <span class="list-group-item disabled">Учеба и военная обязанность</span>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Sairastaminen-ja-kuntoutus-esite-Kela-ru.pdf/6e263c08-5307-4cce-9f1d-68b4fe6c5ac6"
              target="_blank">Болезнь и реабилитация</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Toimeentulotuki-esite-Kela-ru.pdf/1cc87afb-8623-46cc-ac8c-50f79c4e59a0"
              target="_blank">Пособие по обеспечению прожиточного минимума</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Tyottomyys-esite-Kela-ru.pdf/62a3afb7-c1c6-44b8-8896-613375b2626b"
              target="_blank">Безработица</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/documents/12099/37345268/Yleinen-asumistuki-esite-Kela-ru.pdf/c117a437-97bc-4b2c-a1a6-1031779d8a78"
              target="_blank">Стандартное пособие на оплату проживания</a>
          </div>

          <h3>Перевод брошюр выполняется на основе материалов на упрощенном языке</h3>
          <p class="lead text-secondary">В основе брошюр о пособиях лежит материал о пособиях на упрощенном финском
            языке. Содержание, слова и конструкции предложений в таких брошюрах гораздо более простые, чем, например, в
            обычным, общеупотребимом языке. Таким образом упрощенный язык рекомендуется использовать и при переводе
            материалов на другие языки.</p>
          <p class="lead text-secondary">Брошюры Kela на разных языках особенно помогут тем, кто недавно переехал в
            Финляндию и не владеет финским языком. Иметь материалы на родном языке крайне важно на начальном этапе
            адаптации к жизни в новой стране. По мере изучения финского рекомендуется ознакомиться также с сайтами и
            брошюрами Kela на упрощенном финском и шведском языках.</p>


          <h3>Брошюры можно заказать в Kela</h3>
          <p class="lead text-secondary">Брошюры можно получить в отделениях Kela и единых пунктах обслуживания.
            Партнеры могут также заказать брошюры со склада Kela, отправив сообщение по адресу lomakevarasto@kela.fi.
            Минимальное количество, которое можно заказать – 10 экземпляров/брошюра.</p>
          <p class="lead text-secondary">Брошюры о пособиях образца 2021 года есть и на сайте kela.fi.</p>

          <h3>Читать подробнее</h3>
          <div class="lead list-group">
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/etuusesitteet_asiakkaille">Брошюры на финском языке</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/web/sv/broschyrer_formansbroshyrer">Брошюры на шведском языке</a>
            <a class="list-group-item list-group-item-action" href="https://www.kela.fi/saamenkieliset-esitteet">брошюры
              на саамском языке</a>
            <a class="list-group-item list-group-item-action" href="https://www.kela.fi/web/en/brochures">Брошюры на
              английском языке</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/web/en/other-languages#russian">Брошюры на русском языке</a>
            <a class="list-group-item list-group-item-action"
              href="https://www.kela.fi/web/en/other-languages#estonian">Брошюры на эстонском языке</a>
          </div>
          <div class="mt-5">
            <cite class="fs-sm text-muted">Источник: <a class="fw-bold"
                href="https://www.kela.fi/web/en/-/opublikovany-brosury-kela-na-anglijskom-russkom-i-estonskom-azyke?fbclid=IwAR291wwiu5kCnt1jWGV_RxArUBq17CVyoRx_iFz07GP2ZuB2M12dM1vHwmw"
                target="_blank">www.kela.fi</a></cite>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>