<article>
  <section class="bg-black inverted overflow-hidden">
    <div class="d-flex flex-column py-15 container min-vh-75 level-3">
      <div class="row justify-content-center mt-auto">
        <div class="col-lg-10 col-xl-8">
          <h1 class="display-1">{{meta.title}}</h1>
        </div>
      </div>
    </div>
    <span style="background-image: url('{{site.url}}{{eleventyNavigation.image}}')"
      class="background background-gradient-horizontal" data-top-top="transform: translateY(0%);"
      data-top-bottom="transform: translateY(10%);">
    </span>
  </section>
  <section class="py-10 py-xl-15">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{site.url}}/{{locale}}/">Главная</a></li>
              <li class="breadcrumb-item"><a href="{{site.url}}/{{locale}}/{{eleventyNavigation.parent}}">Помощь</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{meta.title}}</li>
            </ol>
          </nav>

          <p class="lead text-secondary">Если вы являетесь гражданином одной из стран ЕС и собираетесь прожить в
            Финляндии более трёх месяцев, вам необходимо зарегистрировать своё право на пребывание. Подайте заявление на
            регистрацию права пребывания гражданина ЕС в течение трёх месяцев с даты въезда в страну.</p>
          <p class="lead text-secondary">Регистрация права пребывания гражданина ЕС не оформляется автоматически. Вы
            можете подать заявление о регистрации права на пребывание, если у вас имеются достаточные средства для
            проживания в Финляндии. В качестве основания могут быть указаны работа, учёба, предпринимательская
            деятельность, семейные узы или наличие достаточных средств.</p>
          <p class="lead text-secondary">Если вы собираетесь прожить в Финляндии более трёх месяцев, вам необходимо
            обратиться в Миграционную службу (Maahanmuuttovirasto) для регистрации права на пребывание. Вы должны подать
            соответствующее заявление о регистрации в течение трёх месяцев с момента въезда в страну.</p>
          <p class="lead text-secondary">Регистрация в Миграционной службе — это не то же самое, что регистрация по
            месту жительства в системе регистрации населения Финляндии, которую производит Агентство цифровой информации
            и учета населения (Digi- ja väestötietovirasto). Если ваше пребывание в Финляндии составляет менее трёх
            месяцев подряд, вам не потребуется регистрация права на пребывание в Миграционной службе. Трёхмесячный срок
            пребывания рассчитывается с момента, когда вы пересекли границу Финляндии при въезде в страну.</p>
          <p class="lead text-secondary">Дополнительная информация об условиях регистрации на сайте InfoFinland в
            разделе Граждане ЕС.</p>

          <h3>Как подать документы?</h3>
          <p class="lead text-secondary">Рассмотрение заявления о регистрации права на пребывание платное. Вы должны
            оплатить соответствующий сбор при
            подаче заявления.</p>
          <p class="lead text-secondary">Как подать заявление о регистрации права на пребывание гражданина ЕС через
            портал Enter Finland:</p>

          <ol class="list-group list-group-numbered mb-5">
            <li class="list-group-item">Заполните бланк заявления и приложите к нему необходимые документы. Информацию о
              документах, которые необходимо приложить к заявлению, вы найдёте на данной странице в разделе "<a
                href="https://www.infofinland.fi/ru/moving-to-finland/eu-citizens/registration-of-an-eu-citizens-right-of-residence?fbclid=IwAR3U3YdshYm0hhKGOeFFJo9dEnR5AoZ4D5RjKnOoL-dnv9i8YWJIxGYWpEE#Mit%C3%A4%20rekister%C3%B6intiin%20tarvitaan?"
                target="_blank">Что необходимо для регистрации?</a>"</li>
            <li class="list-group-item">Лично посетите пункт обслуживания Миграционной службы, где вам будет необходимо
              подтвердить личность и предъявить оригиналы документов, которые вы приложили к заявлению. Возьмите с собой
              действительное удостоверение личности или паспорт.</li>
            <li class="list-group-item">Вам необходимо явиться в пункт обслуживания в течение трёх месяцев с момента
              подачи заявления. На приём в пункт обслуживания следует записаться заранее. Запишетесь на приём через
              систему электронной записи Миграционной службы.</li>
            <li class="list-group-item">Не забывайте периодически проверять свою персональную страничку на портале Enter
              Finland. Если официальным органам понадобятся дополнительные разъяснения, информация об этом отобразится
              на вашей страничке портала Enter Finland. Там же появится уведомление о том, что решение принято.</li>

          </ol>
          <p class="lead text-secondary">Если вы не можете или не знаете, как оформить регистрацию по Интернету:</p>
          <ol class="list-group list-group-numbered mb-5">
            <li class="list-group-item">Заполните бумажный бланк заявления о регистрации. Вы можете сделать это также
              лично в пункте обслуживания Миграционной службы. Вы должны подать заявление в течение трёх месяцев с
              момента въезда в страну.</li>
            <li class="list-group-item">Распечатайте бланк заявления о регистрации на сайте Миграционной службы и
              заполните его. Будьте внимательны при заполнении бланка. Неправильно заполненные заявления не принимаются
              к рассмотрению.</li>
            <li class="list-group-item">Запишетесь на приём в пункт обслуживания через систему электронной записи
              Миграционной службы. На приём в пункт обслуживания следует записаться заранее.</li>
            <li class="list-group-item">Возьмите с собой заполненный бланк заявления о регистрации, действительное
              удостоверение личности или паспорт, а также документы, которые необходимо приложить. Информацию о
              документах, которые необходимо приложить к заявлению, вы найдёте на данной странице в разделе "<a
                href="https://www.infofinland.fi/ru/moving-to-finland/eu-citizens/registration-of-an-eu-citizens-right-of-residence?fbclid=IwAR3U3YdshYm0hhKGOeFFJo9dEnR5AoZ4D5RjKnOoL-dnv9i8YWJIxGYWpEE#Mit%C3%A4%20rekister%C3%B6intiin%20tarvitaan?"
                target="_blank">Что необходимо для регистрации?</a>"</li>
          </ol>
          <p class="lead text-secondary">Если будут признаны основания и предпосылки для вашего нахождения в Финляндии,
            Миграционная служба выдаст вам свидетельство о регистрации права на пребывание гражданина Европейского
            союза. Регистрация права на пребывания оформляется на бессрочной основе.</p>
          <p class="lead text-secondary">После пяти лет непрерывного пребывания в Финляндии на законных основаниях вы
            имеете право на постоянное проживание в стране. Для получения права постоянного проживания гражданину ЕС
            необходимо подать отдельное заявление в Миграционную службу.</p>

          <figure>
            <blockquote class="blockquote">
              <p>Регистрация права на пребывание для граждан ЕС</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/oleskeluoikeuden-rekisterointi" target="_blank">финский</a>
              | <a href="https://migri.fi/en/registration-of-right-of-residence" target="_blank">английский</a> | <a
                href="https://migri.fi/sv/registrering-av-uppehallsratt" target="_blank">шведский</a>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p>Электронное заявление</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Enterfinland.fi: <a href="https://enterfinland.fi/eServices/" target="_blank">финский</a> | <a
                href="https://enterfinland.fi/eServices/" target="_blank">английский</a> | <a
                href="https://enterfinland.fi/eServices/" target="_blank">шведский</a>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p>Электронная запись</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/ajanvaraus" target="_blank">финский</a> | <a
                href="https://migri.fi/sv/boka-tid" target="_blank">шведский</a> | <a
                href="https://migri.fi/en/book-an-appointment" target="_blank">английский</a>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p>Пункты обслуживания Миграционной службы</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/palvelupisteet" target="_blank">финский</a> | <a
                href="https://migri.fi/sv/servicestallen" target="_blank">шведский</a> | <a
                href="https://migri.fi/en/service-points" target="_blank">английский</a>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p>Постоянное право на пребывание</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/pysyva-oleskeluoikeus" target="_blank">финский</a> | <a
                href="https://migri.fi/sv/permanent-uppehallsratt" target="_blank">шведский</a> | <a
                href="https://migri.fi/en/right-of-permanent-residence" target="_blank">английский</a>
            </figcaption>
          </figure>

          <h3>Финский личный идентификационный номер (suomalainen henkilötunnus)</h3>
          <p class="lead text-secondary">При регистрации права на пребывание в Миграционной службе ваши персональные
            данные автоматически также будут занесены в систему народонаселения. Одновременно с этим вам будет присвоен
            финский личный идентификационный номер.</p>
          <p class="lead text-secondary">Финский личный идентификационный номер можно также получить в отделении
            Агентства цифровой информации и учета населения или в налоговом отделении.</p>
          <p class="lead text-secondary">Если вы переезжаете в Финляндию на один год или на более длительный срок, вам
            необходимо также пройти регистрацию в ближайшем отделении Агентства цифровой информации и учета населения.
          </p>
          <p class="lead text-secondary">Дополнительная информация на сайте InfoFinland в разделе "<a
              href="https://www.infofinland.fi/ru/moving-to-finland/registering-as-a-resident"
              target="_blank">Регистрация по месту жительства</a>".</p>
          <p class="lead text-secondary">На сайте InfoFinland в разделе "<a
              href="https://www.infofinland.fi/ru/moving-to-finland/checklist-for-a-person-who-is-moving-to-finland"
              target="_blank">Памятка при переезде в Финляндию</a> вы найдёте полезную информацию о том, что вам
            необходимо сделать при переезде в Финляндию.</p>

          <h3>Что необходимо для регистрации?<br /><small class="text-muted">Работник или предприниматель
            </small></h3>
          <p class="lead text-secondary">Ваше право на пребывание может быть зарегистрировано, если у вас есть место
            работы или собственное предприятие в Финляндии.</p>
          <p class="lead text-secondary">Вам понадобятся следующие документы:</p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>бланк регистрации гражданина ЕС</li>
                <li>действительное удостоверение личности или паспорт</li>
                <li>трудовое соглашение (если у вас есть место работы)</li>
                <li>справка о деятельности предприятия (если вы предприниматель)</li>
              </ul>
            </li>
          </ul>

          <h4>Студент</h4>
          <p class="lead text-secondary">Ваше право на пребывание в стране может быть зарегистрировано, если вы учитесь
            в финском учебном заведении.</p>
          <p class="lead text-secondary">Вам понадобятся следующие документы:</p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>бланк регистрации гражданина ЕС</li>
                <li>действительное удостоверение личности или паспорт</li>
                <li>справка о том, что вы учитесь в финском учебном заведении</li>
                <li>медицинская страховка (например, европейская медицинская карточка)</li>
                <li>разъяснение о ваших доходах в Финляндии</li>
              </ul>
            </li>
          </ul>

          <h4>Член семьи лица, проживающего в Финляндии</h4>
          <p class="lead text-secondary">Ваше право на пребывание может быть зарегистрировано, если член вашей семьи
            постоянно проживает в Финляндии.</p>
          <p class="lead text-secondary">Вам понадобятся следующие документы:</p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>бланк регистрации гражданина ЕС</li>
                <li>действительное удостоверение личности или паспорт
                </li>
                <li>свидетельство о браке или зарегистрированных партнерских отношениях
                </li>
                <li>разъяснение о совместном проживании в течение двух лет или о находящемся на вашем совместном
                  попечении ребёнке, если вы состоите в гражданском браке
                </li>
                <li>свидетельство о рождении ребёнка, если у вас на попечении имеется ребёнок
                </li>
                <li>разъяснение об основаниях для нахождения на территории Финляндии члена семьи, к которому вы
                  переехали
                </li>
              </ul>
            </li>
          </ul>

          <h4>Удостоверение члена семьи гражданина ЕС
          </h4>
          <p class="lead text-secondary">Если вы сами не являетесь гражданином страны ЕС, Лихтенштейна или Швейцарии, но
            переезжаете в Финляндию к члену семьи, который является гражданином ЕС, вам необходимо получить
            удостоверение члена семьи гражданина ЕС.

          </p>
          <p class="lead text-secondary">Соответствующее заявление вы можете подать на портале Enter Finland или в
            пункте обслуживания Миграционной службы (Maahanmuuttovirasto) . Рассмотрение заявления о выдаче вида на
            жительство платное. Вы должны оплатить соответствующий сбор при подаче заявления.

          </p>
          <p class="lead text-secondary">Вам понадобятся следующие документы:</p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>заявление на выдачу карточки с видом на жительство
                </li>
                <li>действительный паспорт
                </li>
                <li>свидетельство о браке или зарегистрированных партнерских отношениях
                </li>
                <li>свидетельство регистрации права на пребывание гражданина ЕС, вместе с которым вы прибыли в Финляндию
                </li>
                <li>разъяснение касательно степени родства (для детей или других родственников, находящихся на попечении
                  гражданина ЕС)
                </li>
                <li>разъяснение касательно совместного проживания (если вы состоите в гражданском браке с гражданином ЕС
                  и у вас нет совместных детей)
                </li>
              </ul>
            </li>
          </ul>
          <p class="lead text-secondary">Удостоверение члена семьи гражданина ЕС выдается на пять лет или более короткий
            срок, если срок проживания в Финляндии составляет менее пяти лет.
          </p>
          <figure>
            <blockquote class="blockquote">
              <p>Удостоверение члена семьи гражданина ЕС</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/perheenjasenen-oleskelukortti" target="_blank">финский</a>
              | <a href="https://migri.fi/sv/uppehallskort-for-familjemedlem" target="_blank">шведский</a> | <a
                href="https://migri.fi/en/residence-card-for-family-members" target="_blank">английский</a>
            </figcaption>
          </figure>

          <h4>Достаточные средства</h4>
          <p class="lead text-secondary">Если ваше право на пребывание не может быть зарегистрировано ни по одной из
            вышеуказанных причин, но у вас имеются достаточные средства для проживания в Финляндии, вы можете подать
            заявление на регистрацию. Наличие достаточных средств также является основанием.</p>
          <p class="lead text-secondary">Вам понадобятся следующие документы:</p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>бланк регистрации гражданина ЕС
                </li>
                <li>действительное удостоверение личности или паспорт
                </li>
                <li>разъяснение относительно наличия у вас достаточных для проживания в Финляндии средств.
                </li>
              </ul>
            </li>
          </ul>


          <h3>Могу ли я лишиться права на пребывание?</h3>
          <p class="lead text-secondary">Регистрация права на пребывание гражданина ЕС и удостоверение члена семьи
            гражданина ЕС могут быть аннулированы или признаны недействительными, если:</p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>вы выезжаете из Финляндии на постоянное место жительства;</li>
                <li>вы провели единовременно два года за границей.</li>
                <li>вы предоставили недостоверную информацию при подаче заявления на регистрацию или выдачу
                  удостоверения члена семьи гражданина ЕС</li>
                <li>вы скрыли такую информацию, которая могла бы воспрепятствовать вашей регистрации или выдаче вам
                  удостоверения члена семьи гражданина ЕС</li>
                <li>вас выдворяют из Финляндии</li>
                <li>вы получили гражданство Финляндии.</li>
              </ul>
            </li>
          </ul>
          <p class="lead text-secondary">Имейте в виду, что если ваша жизненная ситуация изменится, это может повлиять
            на ваше право на пребывание. Если ваше право на пребывание зарегистрировано на основании наличия у вас
            работы, действующего бизнеса, места учёбы, семейных связей или достаточных средств к существованию и данное
            основание исчезнет, регистрация может быть аннулирована.</p>
          <p class="lead text-secondary">Решение об аннулировании права на пребывание или о признании его
            недействительным принимает Департамент по делам миграции.</p>

          <h4>Если вы переезжаете за границу</h4>
          <p class="lead text-secondary">Если вы не хотите, чтобы ваше право на пребывание или удостоверение члена семьи
            гражданина ЕС было аннулировано, вы можете подать соответствующее заявление в Департамент по делам миграции
            не позднее чем через два года после переезда за границу.</p>
          <figure>
            <blockquote class="blockquote">
              <p>Отмена права на пребывание в стране</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/oleskeluoikeuden-peruuttaminen-tai-raukeaminen"
                target="_blank">финский</a>
              | <a href="https://migri.fi/sv/aterkallande-och-forfallande-av-uppehallsratten"
                target="_blank">шведский</a> | <a
                href="https://migri.fi/en/cancellation-and-expiry-of-right-of-residence" target="_blank">английский</a>
            </figcaption>
          </figure>

          <h3>«Брексит» (Brexit)</h3>
          <p class="lead text-secondary">Великобритания вышла из состава Европейского союза. Срок подачи заявления на
            предоставление права пребывания (так называемого «разрешения Брексит»), предусмотренного соглашением о
            выходе, истек 30 сентября 2021 года.</p>
          <p class="lead text-secondary">Если вы переезжаете в Финляндию, вы должны подать заявление на вид на
            жительство точно так же, как и все остальные граждане, переезжающие в Финляндию из-за пределов территории
            ЕС. Дополнительную информацию вы можете получить в Миграционной службе.</p>
          <p class="lead text-secondary">Подробнее о виде на жительство читайте на сайте InfoFinland в разделе "<a
              href="https://www.infofinland.fi/ru/moving-to-finland/non-eu-citizens" target="_blank">Граждане стран, не
              входящих в ЕС</a>".</p>
          <figure>
            <blockquote class="blockquote">
              <p>Брексит</p>
            </blockquote>
            <figcaption class="blockquote-footer pt-1">
              Maahanmuuttovirasto: <a href="https://migri.fi/brexit" target="_blank">финский</a>
              | <a href="https://migri.fi/sv/brexit/sv" target="_blank">шведский</a> | <a
                href="https://migri.fi/en/brexit/en" target="_blank">английский</a>
            </figcaption>
          </figure>




          <div class="mt-5">
            <cite class="fs-sm text-muted">Источник: <a class="fw-bold"
                href="https://www.infofinland.fi/ru/moving-to-finland/eu-citizens/registration-of-an-eu-citizens-right-of-residence?fbclid=IwAR3U3YdshYm0hhKGOeFFJo9dEnR5AoZ4D5RjKnOoL-dnv9i8YWJIxGYWpEE"
                target="_blank">www.infofinland.fi</a></cite>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>