// @import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.navbar {
  .navbar-brand {
    img {
      max-height: 4rem;
    }
  }
}
footer {
  .navbar-brand {
    img {
      max-height: 4rem;
    }
  }
}

.iti {
  width: 100%;
}

.min-vh-25 {
  min-height: 25vh !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.min-vh-75 {
  min-height: 75vh !important;
}
